hr {
    margin: 0;
}

.rodape {
    background-color: var(--cor-branca);
    padding: 1rem;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        
    }

    .lista-rodape {
        display: block;
    }

    .rodape__titulo {
        font-size: 24px;
        color: var(--cor-preto);
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cor-cinza-claro);
        padding-bottom: 1rem;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0;
    }

    .lista-rodape__link {
        font-size: 14px;
        text-decoration: none;
        color: var(--cor-cinza);
    }
}